#^css same=append

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}article,footer,header,main,menu,nav,section,summary{display:block;}

html    {font-size:18px; scroll-behavior:smooth; scroll-padding-top:100px;}
body	{background:#eee; font-family:monospace; font-size:18px; font-weight:400; line-height:normal; color:#111; max-width:100%; overflow-x:hidden; padding:0; margin:0;}
h1		{font-size:1.5em; font-weight:normal;}
h2		{font-size:1.5em; font-weight:normal;}
h3      {font-size:1.5em; font-weight:bold; color:#111; font-family:serif;}
h4      {font-size:0.8em; font-style:italic; color:#111; letter-spacing:15px; text-transform:uppercase; margin-top:3em; margin-bottom:2em;}
b		{font-weight:bold; font-weight:700;}
i		{font-style:italic;}
a		{color:#222; text-decoration:none; transition:all 0.5s ease-out;}
a:hover	{background-color:#ddd;}

*:focus {outline:2px solid transparent;}
*:focus:not(:focus-visible) {outline:2px solid transparent; box-shadow:none;}
*:focus-visible		{outline: 3px solid #918170;}	/* for overriding FF's dotted outline*/
input:focus			{outline:2px solid transparent; box-shadow: 0 0 0 2px #918170;}
input:focus-visible {outline:2px solid #918170; background-color:#fff; border-color:#918170;}

.aria-invisible {border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px;}

.skip-link		{background:#665645; border-radius:0 0 6px 6px; color:#fff; height:30px; left:50%; padding:6px; position:absolute; transform:translateY(-100%); transition:transform 0.3s;}
.skip-link:focus{transform:translateY(0%);}

.row            {max-width:1170px; margin-right:auto; margin-left:auto; display:flex; flex-flow:row wrap;}
.head_content   {position:sticky; top:0; background-color:#f7f4fd; z-index:3;}
.main_content   {min-height:400px; padding-top:20px; padding-bottom:20px;}
.foot_content   {}
.news_cont		{display:flex; justify-content:space-between;}
.link_wrap		{width:100%;}
.cont_wrap		{margin-bottom:2em;}
.cont_wrap.new	{background:#fbfbfb; border:4px double #222; padding:0.5em 1.5em; margin:1.5em 0 2.5em 2.5em; max-width:60%; max-height:960px; overflow-y:auto;}
.nav_wrap,
.cc_wrap,
.funder_wrap    {display:flex; align-items:center; justify-content:space-between; width:100%;}
.cc_wrap        {align-items:baseline; padding:20px 0 40px 0;}
.funder_wrap    {align-items:center; padding:20px 0;}
.nav_content    {display:flex; padding-left:30px; align-items: baseline; justify-content:space-between; width:40%;}
.logo           {height:100px; align-items:center; justify-content:center; display:flex;}
.more           {text-align:center; width:100%; padding:30px 0; font-size:26px;}
.marge			{margin-bottom:1em;}

.title			{margin:1em 0;}
.blog_wrap		{margin:1.5em 0;}
.blog_wrap a	{font-weight:bold;}
.blog_date		{margin-bottom:0.6em; font-size:14px;}
.blog_data		{display:flex; margin-top:1em;}
.blog_data a:hover	{background-color:transparent;}
.blog_data img	{width:500px; margin-right:1em;}
.img_wrap		{border:1px solid #222; padding:1em;}
.img_wrap:hover	{background:#c9c9c9;}
.call_wrap		{background:#fbfbfb; border:4px double #222; padding:0.5em 1.5em 2em 1.5em; margin:1.5em 0;}

.about_wrap     {margin-top:1.5em; margin-bottom:1.5em; width:100%; background:url("{_root}/data/franklin_thumb1.png") no-repeat right bottom #fbfbfb; padding:1.5em;}
.about_text     {font-size:18px; padding-top:20px; line-height:1.35em; font-family:monospace;}
.about_text b   {font-weight:500;}
.about_text p:last-of-type   {margin-right:10em;}
.about_text_title   {font-weight:300; margin-bottom:20px; font-style:italic;}
.about_text_zine    {font-size:18px; text-align:right;}

table.tunes		{width:100%;}
table.tunes	tr	{height:1em;}
table.tunes	tr:hover td		{background-color:#efe9f9;}
table.tunes.old	tr:hover td	{background-color:transparent;}
table.tunes th		{color:#666; font-size:14px; padding:0.5em 0 0.5em 0.5em; position:relative;}
table.tunes th.date	{width:13em;}
table.tunes th div	{position:absolute; pointer-events:none; border-bottom:1px solid #aaa; width:calc(100% - 1.5625em); bottom:0; left:0.5em;}
table.tunes td		{vertical-align:top; padding:0.5em 0 0.5em 0.5em; border-bottom:1px solid #ddd;}
table.tunes.current td	{vertical-align:middle;}
table.tunes a		{font-size:16px; padding:5px 10px; border-radius:6px;}
table.tunes a:hover	{background-color:#fff;}

@media (min-width: 360px) and (max-width: 767.98px) {
html            {font-size:18px;}
body            {padding:0.5em 1.5em; font-size:1.0rem;}
.head_content   {display:none;}
.mob_content    {display:block;}
h2              {font-size:1.2rem; line-height:inherit;}
.about_text     {font-size:1.0rem; line-height:inherit;}
h1				{font-size:1.5rem; line-height:inherit;}
.cc_wrap        {display:block;}
.cc_text		{margin-bottom:20px;}
.mob_cc			{font-size:1.0rem;}
.funder_wrap    {flex-flow:column;}
.funder_img     {width:initial;}
.funder_text    {padding:20px 0 0 0;}
.cont_wrap p	{font-size:0.85rem;}
.about_wrap		{padding-bottom:6em;}
.about_text p:last-of-type   {margin-right:0;}
table.tunes th.date 		{width:5em; padding-left:0;}
table.tunes th.date div 	{left:0;}
table.tunes.current td		{vertical-align:top; padding:0.5em;}
table.tunes td:first-of-type{padding-left:0;}
.news_cont		{display:block;}
.cont_wrap.new	{margin:0 auto; max-width:100%; margin-bottom:0.5em; max-height:initial; overflow-y:initial;}
.cont_wrap		{margin-bottom:1em;}
}

@media (min-width: 768px) and (max-width: 991.98px) {
body            {padding:0.5em 1.5em; font-size:1.0rem;}
.nav_content    {padding:0;}
h1, h2			{font-size:1.5rem; line-height:inherit;}
.cc_wrap > div  {font-size:0.8em;}
.cc_text        {width:85%;}
.mob_cc			{font-size:1.0rem;}
.funder_wrap    {flex-flow:wrap; justify-content:left;}
.funder_text    {padding:20px 0 0 0;}
.cont_wrap p	{font-size:0.85rem;}
.about_wrap		{padding-bottom:6em;}
.about_text p:last-of-type   {margin-right:0;}
table.tunes th.date 		{width:5em; padding-left:0;}
table.tunes th.date div 	{left:0;}
table.tunes.current td		{vertical-align:top; padding:0.5em;}
table.tunes td:first-of-type{padding-left:0;}
.news_cont		{display:block;}
.cont_wrap.new	{margin:0 auto; max-width:100%; max-height:initial; overflow-y:initial;}
.cont_wrap		{margin-bottom:1em;}
}
